{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 7
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "indent": ["error", 2],
    "no-shadow": "off",
    "max-len": "off",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off"
  },
  "globals": {
    "localStorage": true,
    "EventSource": true,
    "FormData": true,
    "document": true,
    "window": true
  }
}
